@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iosevka';
  src: url('../iosevka.woff');
}

@font-face {
  font-family: 'firacode';
  src: url('../firacode.woff');
}

:root {
  /* font-family: 'iosevka'; */
  font-family: 'firacode';

  --background: #282a36;
  --current: #44475a;
  /* --purple: #bd93f9; */

  --bar-size: 15px;
  --bar-thickness: 3px;
  --bar-bg: var(--current);
  --bar-fg: var(--background);
}

.bg-image-portrait {
  background-image: url("../imgs/photographer.png");
  background-color: var(--current);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dashed divider */
.hr {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  padding: 2em 0;
}
.hr:after,
.hr:before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--bar-thickness);
  bottom: 50%;
  left: 0;
}
.hr:before {
  background: linear-gradient(
    90deg,
    var(--bar-bg) 0%,
    var(--bar-bg) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: var(--bar-size);
  background-position: center;
  z-index: 1;
}
.hr:after {
  transition:
    opacity 0.3s ease,
    animation 0.3s ease;
  background: linear-gradient(
    to right,
    var(--bar-fg) 5%,
    var(--bar-fg) 15%,
    var(--bar-fg) 25%,
    var(--bar-fg) 35%,
    var(--bar-fg) 45%,
    var(--bar-fg) 55%,
    var(--bar-fg) 65%,
    var(--bar-fg) 75%,
    var(--bar-fg) 85%,
    var(--bar-fg) 95%
  );
  background-size: 200%;
  background-position: 0%;
  animation: bar 15s linear infinite;
}
@keyframes bar {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

/* On hover effecr - grow */
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.big-grow:hover, .big-grow:focus, .big-grow:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
